# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.cplusplus.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\dev\saxion\cpp\cplusplus\.idea\.idea.cplusplus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
